<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244754131896-m4uqtcvk34u32dv7h4mkjg4aj4489pgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244754131896-m4uqtcvk34u32dv7h4mkjg4aj4489pgc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>244754131896-4040mi9hj0r0lpis3gq8d4gelevu8c24.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHvXDFNZGT0n4pYEEdqrCI058c-zOJwF0</string>
	<key>GCM_SENDER_ID</key>
	<string>244754131896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Dealdeck</string>
	<key>PROJECT_ID</key>
	<string>dealdeck-rn01</string>
	<key>STORAGE_BUCKET</key>
	<string>dealdeck-rn01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244754131896:ios:08aa3a0dbaebdd37d37d4d</string>
</dict>
</plist>